Recipe Recommender.json
{
  "name": "Recipe Recommender",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        -128
      ],
      "id": "ae8af011-f734-4c20-8e64-734ffc7ea148",
      "name": "Telegram Trigger",
      "webhookId": "374732db-f59e-4fc8-bec6-4b662c1d9903",
      "credentials": {
        "telegramApi": {
          "id": "NrB4FTXKmiwQR1rf",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are Indian Vegetarian Recipe Recommender. You Should Generate and summarize the answer only from the given context.\nIf context is irrelevant to the question, You should say, Sorry ! I can't find relevant information from the knowledge base. Don't provide any additional information\nYou should not generate or interpret any response from your knowledge"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -176,
        -128
      ],
      "id": "f4aa9594-eeee-4595-8b5d-edd17a12eaae",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -304,
        80
      ],
      "id": "34768f15-9db8-4356-9798-f1ddb214c7ee",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "R5ONmZ4YhDcoC0tC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -176,
        80
      ],
      "id": "d136eee5-cda5-4c31-924d-53a2a7c4cd0c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        -128
      ],
      "id": "6b515740-4467-4621-820b-3d85e9b6ea10",
      "name": "Send a text message",
      "webhookId": "28a547e0-023a-4386-b145-199edc86e08b",
      "credentials": {
        "telegramApi": {
          "id": "NrB4FTXKmiwQR1rf",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $('Telegram Trigger').item.json.message.text }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "legal",
          "mode": "list",
          "cachedResultName": "legal"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        336,
        144
      ],
      "id": "41550511-aada-4713-aa8b-09bccf8fe0cf",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "HJfU8QhvcYWXxFTa",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        240
      ],
      "id": "e89d6e91-8317-4c2f-905c-082b44f99ae5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "R5ONmZ4YhDcoC0tC",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b50ad1fa-a4b0-41e3-8ec8-9edaa3ae4fdf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19adec0e7b270696b0e6d84175df1adb04b1257fd15041e5e9881651daa931c2"
  },
  "id": "fqcArOpmdNFLkjYe",
  "tags": []
}